.app-header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.login-button {
  float: right;
}

.app-logo {
  animation: app-logo-spin infinite 8s linear;
  height: 35px;
  background: #ff7f7f;
}

@keyframes app-logo-spin {
  from {
    transform: scaleX(-1);
  }
}

.tabs {
  margin-bottom: 20px;
}

.login-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
